@{
    ViewData["Title"] = "Home Page";
}

@model List<Task>

<div class="text-center">
    <h1 class="display-4">Stephen Covey's Quadrant Tasks</h1>
</div>

<table>
    <thead>
        <td>Task</td>
        <td>Due Date</td>
        <td>Quadrant</td>
        <td>Category</td>
        <td>Complete</td>
    </thead>

    <tbody>
        @foreach (var task in Model.Tasks)
        {
        <td>@Task.Task</td>
        <td>@Task.DueDate</td>
        <td>@Task.Quadrant</td>
        <td>@Task.Category</td>
        <td>@Task.Complete</td>
        }

    </tbody>

</table>
