@{
    ViewData["Title"] = "Home Page";
}

@model List<Task>

<div class="text-center">
    <h1 class="display-4">Stephen Covey's Quadrant Tasks</h1>
</div>

@foreach (var quad in Model.Quadrants)
{
<div class="col-6">
    <h1>Quadrant @quad.Quadrant</h1>
    <table class="table table-bordered">
        <thead class="fw-bold">
            <td>Task</td>
            <td>Due Date</td>
            <td>Quadrant</td>
            <td>Category</td>
            <td>Complete</td>
        </thead>

        <tbody>
             @foreach (var task in Model.Tasks) 
             { 
                if (task.Quadrant == quad.Quadrant)
                {
                     <td>@Task.Task</td>
                     <td>@Task.DueDate</td>
                     <td>@Task.Quadrant</td>
                     <td>@Task.Category.CategoryName</td>
                     <td>@Task.Complete</td>
                }
         
             <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@Task.TaskId">Edit</a></td>
             <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@Task.TaskId">Delete</a></td>
             }
        </tbody>
    </table>
</div>
}